// Color Palette
// Variables
//
// Basic Color
$black:    rgba(0, 0 ,0, 1);
$black-80: transparentize($black, .2);
$black-54: transparentize($black, .46);
$black-30: transparentize($black, .7);
$black-10: transparentize($black, .9);
$black-05: transparentize($black, .95);
$black-03: transparentize($black, .97);

$white:    rgba(255, 255, 255, 1);
$white-80: transparentize($white, .2);
$white-54: transparentize($white, .46);
$white-30: transparentize($white, .7);
$white-10: transparentize($white, .9);

$blue100:  rgba(216, 232, 247, 1);
$blue200:  rgba(113, 160, 207, 1);
$blue800:  rgba(28, 57, 83, 1);
$blue900:  rgba(0, 19, 36, 1);

$skyblue:  rgba(54, 163, 247, 1);
$cyan:     rgba(10, 216, 221, 1);
$green:    rgba(52, 191, 163, 1);
$lime:     rgba(173, 207, 40,1);
$yellow:   rgba(255, 168, 0, 1);
$orange:   rgba(253, 137, 0, 1);
$red:      rgba(244, 81, 108, 1);
$purple:   rgba(219, 53, 199, 1);
$violet:   rgba(170, 71, 247, 1);

// Get color map
$ColorSub: (
  black-sub: $black-54,
  white-sub: $white-54,
);
$bezier-ease-in: cubic-bezier(.19,.13,.8,.63);
$CubicBezier: cubic-bezier(0,.81,.63,1);
$BorderRadius: 4px;
// Grid Basic gutter (Gutter * 2)
$gutter: 8px;
