// Black and White Theme
$base-font-color: $black-80;
$sub-font-color: $black-54;

$theme-basic-color: $white;
$theme-primary-color: $blue200;

$theme-border-color: $black-30;
$theme-border-subcolor: $black-10;
