// Black and White Theme

$base-font-color: $white;
$sub-font-color: $white-54;

$theme-basic-color: $blue800;
$theme-primary-color: $blue200;

$theme-border-color: $white-30;
$theme-border-subcolor: $white-10;
