.top0v {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: var(--theme-top-color);
  width: 100%;
  padding: 0 2em;
  height: 6em;
  text-align: center;
  border-bottom: 1px solid var(--theme-border-subcolor);
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);

  .top0v_left {
    @include transition(200ms);
    color: var(--base-font-color);

    &:hover {
      opacity: 0.8;
    }

    img {
      height: 56px;
      opacity: 0.8;
    }
  }

  .top0v_right {
    .icon {
      position: relative;
      display: block;
      float: left;
      height: 48px;
      width: 48px;
      padding: 8px;
      color: var(--sub-font-color);
      border-radius: 50%;

      &:hover {
        background: var(--theme-hover-color);
      }

      .active-hidden {
        position: absolute;
        top: 8px;
        left: 8px;
        height: 32px;
        @include transition(1000ms);
      }

      .active-visible {
        position: absolute;
        top: -4rem;
        opacity: 0;
        height: 32px;
        left: 8px;
        @include transition(600ms);
      }

      &.router-link-active {
        // if link active hidden this class
        .active-hidden {
          top: -4rem;
          opacity: 0;
          // color: $purple;
        }
        // if link active visible this class
        .active-visible {
          opacity: 1;
          top: 8px;
          left: 8px;
        }
      }
    }
  }

  #ThemePaletteSelector {
    position: absolute;
    top: 96px;
    width: 32px;
  }
}
